#root {
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem;
  --clr-orange: #e54e0c
    /* #FF4B26 */
  ;
  --clr-white: #fff;
  --clr-black: #222;
  --pink-100: #FDF6EF;
  --gray-200: #D4D4D8;
  --gray-300: #A1A1AA;
  --gray-400: #71717A;
  /* text-align: center; */
}

.TransactionDetails1 {
  position: relative;
}

.TransactionDetails1 .border {
  justify-content: space-between;
}

.TransactionDetails2 {
  justify-content: space-between;
}

.TransactionTotal {
  justify-content: space-between;
}

.AddItem {
  color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  background: transparent;
  position: absolute;
  right: 5px;
}

.BuyerDetails {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.BuyerDetailsForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.BuyerDetailsForm .Email{
min-width: 20rem;
}

.BuyerDetailsForm .CountryMobile {
  min-width: 20rem;
  margin-top: 13.5px;
  padding: 1px;
  /* padding-right: 14.8rem; */
}
    .SubmitBtn {
      color: white;
      display: block;
      margin: 4rem auto;
      padding: 7px 6rem;
      border-radius: 5px;
      background: #ceced4;
    }

@media (width <=720px) {
  .BuyerDetailsForm {
    display: flex;
    flex-direction: column;

  }
    .BuyerDetailsForm .CountryMobile{
      padding-top: 9px;
      padding-bottom: 9px;
    }
  
}